% Concept-Article Mapping Heuristics
knowledgeMiner.mapping.cycToWiki.CycToWiki_TitleMatching
%knowledgeMiner.mapping.cycToWiki.CycToWiki_CanonicalMatching
knowledgeMiner.mapping.cycToWiki.CycToWiki_VoteSynonyms
knowledgeMiner.mapping.cycToWiki.CycToWiki_ContextRelatedSynonyms
knowledgeMiner.mapping.cycToWiki.CycToWikiBasicPostProcessor
knowledgeMiner.mapping.cycToWiki.CycToWikiRedirectPostProcessor
%knowledgeMiner.mapping.cycToWiki.CycToWikiDisambiguationPostProcessor

% Article-Concept Mapping Heuristics
knowledgeMiner.mapping.wikiToCyc.WikiToCyc_TitleMatching
knowledgeMiner.mapping.wikiToCyc.WikiToCyc_VoteSynonyms
knowledgeMiner.mapping.wikiToCyc.WikiToCycPostProcessor

% Text-Concept Mapping Heuristics
knowledgeMiner.mapping.textToCyc.TextToCyc_BasicString
knowledgeMiner.mapping.textToCyc.TextToCyc_NumericParse
knowledgeMiner.mapping.textToCyc.TextToCyc_AnchorMap
knowledgeMiner.mapping.textToCyc.TextToCyc_AnchorTextSearch
knowledgeMiner.mapping.textToCyc.TextToCyc_DateParse
knowledgeMiner.mapping.textToCyc.TextToCyc_IntervalParse
knowledgeMiner.mapping.textToCyc.TextToCyc_TextSearch
%knowledgeMiner.mapping.textToCyc.TextToCyc_WikiSenseSearch
%knowledgeMiner.mapping.textToCyc.TextToCyc_WikifySearch
knowledgeMiner.mapping.textToCyc.TextToCyc_TimeContextParse
knowledgeMiner.mapping.textToCyc.TextToCyc_FunctionParser
knowledgeMiner.mapping.textToCyc.CleanJunkPreProcessor
knowledgeMiner.mapping.textToCyc.ReplaceUnderscorePreProcessor
knowledgeMiner.mapping.textToCyc.SplitNewLinePreProcessor
knowledgeMiner.mapping.textToCyc.JoinNewLinePreProcessor
knowledgeMiner.mapping.textToCyc.SplitCommaPreProcessor
knowledgeMiner.mapping.textToCyc.RemoveBracketsPreProcessor
knowledgeMiner.mapping.textToCyc.RemoveSpacesPreProcessor
knowledgeMiner.mapping.textToCyc.RemoveAnchorPreProcessor
knowledgeMiner.mapping.textToCyc.RemoveSentencePunctuationPreProcessor