%knowledgeMiner.mining.wikipedia.TitleMiner
%knowledgeMiner.mining.wikipedia.FirstSentenceMiner
%knowledgeMiner.mining.wikipedia.FirstSentenceParserMiner
%knowledgeMiner.mining.wikipedia.InfoboxTypeMiner
%knowledgeMiner.mining.wikipedia.InfoboxRelationMiner
%knowledgeMiner.mining.wikipedia.CategoryChildMiner
knowledgeMiner.mining.wikipedia.ListMiner
%knowledgeMiner.mining.wikipedia.SubCategoryMiner
%knowledgeMiner.mining.wikipedia.CategoryMembershipMiner